table#navigationTable td{
	display: none;
}

table#navigationTable td:nth-child(2){
	display: block;
}

table#navigationTable th{
	display: none;
}

table#navigationTable th:nth-child(2){
	display: block;
}

td:hover{
	background-color: #7ab9b9;
	cursor: pointer;
}

th{
	background-color: #519f9f;
}

td{
	background-color: #a7d2d2;
}

.ZValueHigh{
	z-index: 2;
}

.ZValueLow{
	z-index: -1;
}

body{
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.Header{
	padding-top:2%;
}

